input{
    display: block;
    width: 40%;
    height: 6vh;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
}
button{
    padding:10px 20px;
    border-radius: 10px;
    margin-left: 45%;
    margin-top: 20px;
    cursor: pointer;
    background-color: orange;
    color:white;
    font-size: 20px;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    border: 1px solid orange;
    background-color: aqua;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}
#navbar{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}